body {
  margin: 0;
}

.container {
  /* width: 1440px; */
  /* height: 890px; */
}

.leftHeaderPart {
  margin-top: 30px;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  height: 592px;
  background: #ffcd9e;
}

.title {
  width: 562px;
  height: 108px;
  left: 136px;
  top: 83px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.mainPragraph {
  width: 495px;
  font-size: 20px;
  line-height: 160%;
}

b {
  height: 81px;
  font-size: 20px;
  line-height: 160%;
  display: flex;
  align-items: center;
}

.inputMain {
  display: flex;
  margin-top: 35px;
}
input {
  box-sizing: border-box;
  width: 330px;
  height: 64px;
  border: 4px solid #000000;
  border-radius: 8px;
}
::placeholder {
  padding-left: 20px;
  font-size: 20px;
  color: #888888;
}
button {
  margin-left: 20px;
  width: 190px;
  font-size: 20px;
  background: #282828;
  border-radius: 8px;
  color: white;
}

.subParagraph {
  margin-left: 50px;
  height: 61px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

img {
  margin: 15% 15% 15% 0;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  height: 298px;
  background: #282828;
}

.leftFooterPart {
  margin-top: 30px;
  margin-right: 191px;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.rightFooterPart {
  margin-top: 30px;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.icons {
  display: flex;
  justify-content: flex-end;
}

.svg {
  width: 21px;
  margin-right: 15px;
}
